img {
    width: 0px;
    position: absolute;
    left: 210px;
    transition: 0.5s;
    }
h2 {margin: 50px; color: navy;}
li  {width: 500px;}
a {transition: :0.5s}
a:hover {background: lime;}
a:hover + img {width: 180px;}
